@charset "UTF-8";

/* estilo para tela */

*{
    margin: 0;
    padding: 0;
}

header h1{
    background-color: darkgray;
    text-align: center;
}
header ul{
    background-color: lightgray;
}
header li{
    display: inline-block;
    padding: 10px;
    background-color: black;
    color: white;
}
article{
    width: 600px;
    display: block;
    margin: auto;
    text-align: justify;
    padding: 10px;
}
article h2{
    margin-bottom: 10px;
}


