@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,html{
    background-color: lightgray;
}
header{
    background-color: rgb(195, 195, 195);
}

header > h1{
    text-align: center;
    padding: 10px;
}

span#menuBurguer{
    background-color: #000;
    color: #fff;
    display: block;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: .5s ;
}
span#menuBurguer:hover{
    background-color: #fff;
    color: #000;
}

nav{
    display: none;
}

nav > ul{
    list-style-type: none;
}

nav > ul > li > a{
    display: block;
    background-color: rgb(98, 98, 98);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border: 2px solid gray;
}

nav > ul > li > a:hover{
    background-color: gray;
}

main{
    background-color: #fff;
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

article > h2{
    padding: 20px 0px 20px 0px;
}

article > p{
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}